.ct-select-container {
  width: 200px;
  position: relative;
}
.ct-select-container .ct-select-input {
  position: relative;
}
.ct-select-container .ct-select-input input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0 0 0 6px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}
.ct-select-container .ct-select-input input:focus {
  outline: none;
}
.ct-select-container .ct-select-input input::-moz-placeholder {
  line-height: 26px;
}
.ct-select-container .ct-select-input:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 8px;
  top: 12px;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #000 transparent transparent transparent;
}
.ct-select-container .ct-select-dropdown {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-height: 201px;
  margin-top: 5px;
  margin-bottom: 20px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.ct-select-container .ct-select-dropdown .ct-select-no-results,
.ct-select-container .ct-select-dropdown .ct-select-dropdown-item,
.ct-select-container .ct-select-dropdown .ct-select-dropdown-group h2 {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0 8px !important;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.ct-select-container .ct-select-dropdown .ct-select-dropdown-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.ct-select-container .ct-select-dropdown .ct-select-dropdown-item.active {
  background: #f7f7f7;
}
.ct-select-container .ct-select-dropdown .ct-select-dropdown-item.selected {
  color: #0073aa;
  font-weight: bold;
}
.ct-select-container
  .ct-select-dropdown
  .ct-select-dropdown-item.selected:after {
  position: absolute;
  content: '\f147';
  font-family: dashicons;
  top: 12px;
  right: 10px;
}
.ct-select-container .ct-select-dropdown .ct-select-dropdown-group h2 {
  font-size: 13px;
  font-weight: bold;
  background: #f7f7f7;
}
.ct-select-container .ct-select-dropdown .ct-select-no-results {
  border-bottom: none;
}
